---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.display-only-on-print {
    display: none;
}

@media print {
  .hide-on-print {
    display: none;
  }
  .display-only-on-print {
    display: block;
  }
}
