---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.img-float-left {
  float: left;
  margin: 0 $spacing-unit $spacing-unit 0;
  width: 50%;
  border-radius: 10%;
}

.img-float-right {
  float: right;
  margin: 0 0 $spacing-unit $spacing-unit;
  width: 50%;
  border-radius: 10%;
}

//
// Specific pages
//

//
// Tooltip
//

.has-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted mix($text-color, $background-color, 20%);

  .tooltip-text {
    visibility: hidden;
    background-color: $text-color;
    color: $background-color;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0%;
  }

  &:hover .tooltip-text {
    visibility: visible;
  }
}

//
// Printing
//

.display-only-on-print {
  display: none;
}

@media print {
  .hide-on-print {
    display: none;
  }
  .display-only-on-print {
    display: block;
  }
}

.dont-break-on-print {
  page-break-inside: avoid;
}
