---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header>
    <!-- Headline -->
    <h1 class="post-title p-name" itemprop="name headline">
      <a href="{% link _pages/index.md %}">Home</a>
      >
      <a href="{% link _pages/blog.md %}">Blog</a>
      >
      {{ page.title | escape }}
    </h1>
    <!-- Tags -->
    <div>
      {%- assign last_tag_name = page.tags | last -%}
      {%- for tag_name in page.tags -%}
      <a href="/tags/{{ tag_name }}"><code class="highligher-rouge">{{ tag_name }}</code></a>
      {%-  if tag_name != last_tag_name -%}&nbsp;{%- endif -%}
      {%- endfor -%}
    </div>
    <!-- Post meta -->
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      •
      <span class="has-tooltip">
          <span>~{{ page.content | number_of_words | divided_by: 265.0 | ceil }} min</span>
          <span class="tooltip-text-right tooltip-text-medium">{{ page.content | number_of_words }} words at 265 WPM</span>
      </span>
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
  {%-  include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
