$global-top-padding: 2rem;

.sidenav-trigger {
    float: left;
    padding-top: $global-top-padding - 0.4rem;
    display: none;
}

h3:first-of-type {
    padding-top: $global-top-padding;
    margin-top: 0;
}