$global-top-padding: 2rem;

.sidenav-trigger {
    float: left;
    margin-top: -0.5rem;

    div > & {
        display: none;
        margin-top: 0;
        padding-top: $global-top-padding - 0.4rem;
    }
}

h3:first-of-type {
    padding-top: $global-top-padding;
    margin-top: 0;
}