$sidenav-width: 310px;


.sidenav {
    width: $sidenav-width;
    overflow: auto;

    > li:last-child {
        margin-bottom: 100px;
    }
}

#main {
    padding-left: $sidenav-width;
}

@media only screen and (max-width: 992px) {
    #main {
        padding-left: 0;
    }

    .sidenav-trigger {
        display: block !important;
    }
}

.icon-bar {
    margin-top: 2em;
    margin-bottom: 3em;
    overflow: auto;

    a {
        float: left;
        margin-top: 0;
        margin-bottom: 0;
        width: 31%;
        margin-left: 1%;
        margin-right: 1%;
        transition: all 0.3s ease;
        color: black;

        i {
            font-size: 2rem;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            color: blue;
        }
    }
}